<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".app.debug.DebugAccountSeedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="ai.arena.companion.DEBUG_SEED_ACCOUNT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
